Source: hildon-connectivity-meta
Section: misc
Priority: optional
Maintainer: Ivan J. <parazyd@dyne.org>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.4

Package: hildon-connectivity-meta
Architecture: all
Depends: ${shlibs:Depends},
 icd2,
 libicd-network-wpasupplicant,
 connui-conndlgs,
 connui-conndlgs-internet,
 connui-iapsettings,
 connui-iapsettings-wlan,
 connui-statusbar-internet,
 connui-conndlgs-wlan,
Description: Metapackage for installing hildon connui and its dependencies.
