Source: hildon-connectivity-meta
Section: misc
Priority: optional
Maintainer: Ivan J. <parazyd@dyne.org>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.3.0

Package: hildon-connectivity-base
Architecture: all
Depends: ${shlibs:Depends},
 icd2,
 connui-conndlgs,
 connui-conndlgs-internet,
 connui-iapsettings,
 connui-statusbar-internet,
Description: Metapackage for installing hildon connui and its dependencies.

Package: hildon-connectivity-wlan
Architecture: all
Depends: ${shlibs:Depends},
 libicd-network-wpasupplicant,
 connui-iapsettings-wlan,
 connui-conndlgs-wlan,
Description: Metapackage for installing Hildon Wlan connui and its dependencies.

Package: hildon-connectivity-mobile
Architecture: all
Depends: ${shlibs:Depends},
 ofono,
 cellulard,
 connui-iapsettings-gprs,
 connui-statusbar-cellular,
 libconnui-cellular,
 connui-home-cellular,
 connui-cellular-settings,
 connui-conndlgs-cellular,
 libicd-network-ofono,
 mobile-broadband-provider-info,
Description: Metapackage for installing Hildon Mobile connui and its dependencies.

Package: hildon-connectivity-rtcom
Architecture: all
Depends: ${shlibs:Depends}
 rtcom-presence-ui,
 rtcom-accounts-ui,
 rtcom-accounts-plugins,
 sphone,
 conversations,
 voicecall-qt5,
 telepathy-ring,
 telepathy-gabble,
 telepathy-idle,
 telepathy-haze,
 maemo-ringtones-mr0,
Description: Meta package for RTCom components

Package: hildon-connectivity-location
Architecture: all
Depends: ${shlibs:Depends},
 ofono,
 location-ui,
 location-daemon,
 location-control,
 location-status,
 liblocation0,
Description: Metapackage for installing Leste Location services.
